.history-element {
  display: flex;
  flex-direction: column;
  // align-items: flex-start;
  padding: 1rem;
  gap: 0.5rem;
  min-width: 140px;

  &__title {
    border-bottom: 1px solid $color-light-green;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    width: 100%;
    text-align: center;
    margin-bottom: 0.25rem;
    padding-bottom: 0.25rem;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
  }

  &__label {
    font-weight: bold;
    font-size: 0.875rem;
    color: $gray-color-2;
  }

  &__value {
    font-size: 0.875rem;
    color: $gray-color-3;
  }
}
