.abonement {
  display: flex;
  flex-direction: column;
  // gap: 1rem;
  // padding: 1rem;

  &__title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__info {
    display: flex;
    // background: $color-light-green;
    background: -webkit-linear-gradient(
      135deg,
      rgb(255, 191, 0),
      rgb(255, 251, 0) 50%
    );
    gap: 1rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    border-radius: $big-br;
    // border-radius: $big-br $big-br 0 0;
    color: black;
  }

  &__status {
    align-self: flex-start;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
  }

  &__left-trainings {
    // color: $color-green;
  }

  &__history {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }
}
