.abonement {
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: $shadow3;
  border-radius: $big-br;
  background-color: $card-background;
  overflow: hidden;

  &__title {
    font-size: 1rem;
    font-weight: bold;
  }

  &__info {
    position: relative;
    display: flex;
    background: -webkit-linear-gradient(
      120deg,
      rgb(255, 0, 157),
      rgb(255, 230, 245) 95%
    );
    // gap: 0.75rem;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 0.75rem 2rem;
    border-radius: $big-br $big-br 0 0;
    color: black;
  }

  &__status {
    align-self: flex-start;
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
  }

  &__left {
    top: 2.75rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
    border-radius: $big-br;
    padding: 0.75rem 1.5rem 1rem 2rem;
  }
  &__left-trainings {
    color: $color-white;
    font-weight: bold;
    font-size: 3rem;
    line-height: 1;
  }

  &__history {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 0 0 $big-br $big-br;
  }

  &__history-title {
    position: absolute;
    top: -1rem;
    left: 50%;
    min-width: max-content;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    height: 2rem;
    transform: translateX(-50%);
    padding: 0 3rem;
    border-radius: 1rem;
    box-shadow: 0 -4px 6px -4px rgba(0, 0, 0, 0.1);
    color: white;
  }
}
