.selector {
  padding: 0.2rem;
  border-radius: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  background-color: $card-background;
  box-shadow: $shadow3;

  &__button {
    flex: 1;
    padding: 0.5rem 1rem;
    min-width: max-content;
    text-align: center;
    border-radius: 0.75rem;
    cursor: pointer;
    transition:
      background-color 0.3s,
      color 0.3s;

    &:hover {
      background-color: $color-icons-dark;
    }

    &--selected {
      background-color: $color-green;
      color: white;
      min-width: max-content;

      &:hover {
        background-color: $color-green;
      }
    }
  }
}
