.schedule__training {
  width: 100%;
  flex: 1;
  overflow: hidden;

  &-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &--accent {
      min-width: 230px;
      text-align: center;
      padding: 0.5rem;
      border-top: 1px solid $color-light-green;
      border-bottom: 1px solid $color-light-green;

      & p {
        line-height: 1;
        font-weight: bold;
      }
    }
  }
}

.training__content {
  display: flex;
  padding: 1rem;

  &--open {
    flex-direction: column;
    gap: 0.25rem;
  }
  &--closed {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
