.schedule__training {
  width: 100%;
  flex: 1;
  overflow: hidden;

  &-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    &--accent {
      min-width: 230px;
      text-align: center;
      padding: 0.5rem;
      border-top: 1px solid $color-light-green;
      border-bottom: 1px solid $color-light-green;

      & p {
        line-height: 1;
        font-weight: bold;
      }
    }
  }
}

.training__content {
  display: flex;
  padding: 1rem;

  &--open {
    flex-direction: column;
    gap: 0.5rem;
  }
  &--closed {
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}

.visitors {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 16rem;
  overflow-y: scroll;
  position: relative;

  &__item {
    display: flex;
    align-items: center;
    position: relative;
  }

  &__indicator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 1rem;
  }

  &__dot {
    display: flex;
    width: 0.5rem;
    height: 0.5rem;
    background-color: #fbbf24; /* Tailwind yellow-300 */
    border-radius: 50%;
    position: relative;
    z-index: 1;
  }

  &__line {
    height: 2rem;
    width: 1px;
    flex-grow: 1;
    background: repeating-linear-gradient(
      to bottom,
      #d1d5db,
      /* Tailwind gray-300 */ #d1d5db 2px,
      transparent 2px,
      transparent 4px
    );
    position: absolute;
    top: 0.5rem;
    z-index: 0;
  }

  &__name {
    font-size: 0.875rem; /* Tailwind text-sm */
    color: #fbbf24; /* Tailwind yellow-300 */
    text-transform: capitalize;
  }
}
