.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 0.5em 1em;
}

.main-header a {
    text-decoration: none;
    color: white;
}

.logo {
    background: -webkit-linear-gradient(45deg, #817bff, #00ff95 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.5em;
    font-weight: bold;
}

.main-navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    gap: 1em;
    justify-content: space-around;

    width: max-content;
}

.main-navbar a {
    width: 150px;
}

/* Responsive styles for tablets and mobile phones */
@media (max-width: 768px) {
}
