.schedule-editor {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__day {
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    position: relative;

    &:last-child {
      border-bottom: none;
    }

    &-header {
      background-color: #f5f5f5;
      padding: 15px;
      cursor: pointer;
      font-weight: bold;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: background-color 0.3s ease;
      border-radius: 5px;

      &:hover {
        background-color: #e0e0e0;
      }

      .schedule-editor__chevron {
        font-size: 1.2rem;
        transition: transform 0.5s ease;

        &--open {
          transform: rotate(180deg); /* Rotate when open */
        }

        &--closed {
          transform: rotate(0deg); /* Default position */
        }
      }
    }

    &-content {
      max-height: 0;
      overflow: hidden;
      transition:
        max-height 0.5s ease-in-out,
        padding 0.5s ease-in-out;
      padding: 0.25rem;

      &--expanded {
        max-height: max-content; /* Adjust according to the content's height */
        padding: 10px 0;
      }

      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }

  &__training {
    padding: 0.75rem;
    min-width: 200px;
    flex: 1;

    &-info {
      p {
        margin: 5px 0;
      }
    }

    &-edit-btn,
    &-save-btn {
      margin-top: 10px;
      background-color: #007bff;
      color: white;
      border: none;
      padding: 5px 10px;
      cursor: pointer;
      border-radius: 5px;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #0056b3;
      }
    }

    &-edit-form label {
      display: block;
      margin-bottom: 10px;
    }

    &-edit-form input {
      display: block;
      width: 100%;
      padding: 5px;
      margin-top: 5px;
    }
  }
}
