/* Full account styles */

.account-section {
    max-width: 70rem;
    min-height: 40rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 12rem 1fr;
    border-radius: var(--big-element-br);
    background: var(--account-background);
    backdrop-filter: blur(60px);
}

.account-menu {
    background: var(--account-menu-background);
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1rem 0 0 1rem;
}

.account-menu a {
    border-radius: 2em;
    padding: 0.5em;
    text-decoration: none;
    text-align: center;
    transition: all 0.2s ease-in-out;
    font-size: var(--account-menu-fontsize);
}

.account-menu a:hover {
    background: var(--selected-tab-background);
}

.account-content {
    border-radius: 0 1em 1em 0;
    padding: 2rem;
    position: relative;
}
/* ----------------------------------------------------OVERVIEW */
.overview {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--green-color);
}

.user-role {
    padding: 0.25rem 2rem;
    border-radius: 1rem;
    border: 1px solid var(--green-color);
}

.user-img {
    width: 3em;
    border-radius: 50%;
}

/* -------------------------------- */
.admin-overview {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1.5em;
}

.sales {
    position: relative;
    grid-row: 1 / span 3;
    grid-column: 1 / 2;
    border-radius: var(--big-element-br);
    background: var(--card-background-color);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1.5rem;
    box-shadow: var(--card-element-shadow);
    min-width: 380px;
}

.metrics {
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
    font-size: var(--metrics-fontsize);
    color: var(--gray-color-3);
    padding: 0.5rem 1.5rem;
    gap: 1rem;
    text-align: center;
}

.sale-data-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.sale-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    box-shadow: 5px 5px 20px 0px rgba(174, 174, 192, 0.5),
        -5px -5px 20px 0px #fff;
    border-radius: 0.5rem;
    font-size: var(--content-text-fontsize);
    padding: 0.5rem 1.5rem;
    background: var(--card-background-color);
}

.sale-data div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sale-data :first-child {
    justify-content: left;
}

.sale-name {
    min-width: 6rem;
}

.sale-abonement {
    text-align: center;
    color: var(--green-color);
    border: 1px solid var(--green-color);
    padding: 0.5em 0;
    width: 2rem;
    border-radius: var(--small-element-br);
}

.sale-date {
    width: max-content;
}
.sale-price {
    color: var(--green-color);
    font-weight: 600;
}

/* --------------------------------------- */
.inout {
    position: relative;
    grid-column: 2/4;
    display: flex;
    justify-content: space-between;
    border-radius: var(--big-element-br);
    padding: 1.5rem;
    background: var(--card-background-color);
    box-shadow: var(--card-element-shadow);
}

.inout-main {
    flex: 1;
    border-right: 1px solid var(--gray-color-6);
}

.inout-main,
.inout-additional {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 1rem;
    text-align: center;
}

.inout-additional {
    align-items: center;
}
.inout-metrics,
.inout-data {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.inout-metrics,
.inout-profit {
    color: var(--gray-color-3);
    font-size: var(--metrics-fontsize);
}
.inout-data p,
.inout-profit-data {
    font-size: var(--content-fontsize);
    color: var(--green-color);
}

/* ----------------------------------------- */

.expenses {
    grid-column: 2/4;
    display: flex;
    flex-direction: column;
    border-radius: 1em;
    background: rgba(130, 130, 130, 0.2);
    padding: 1em 0;
}

.expenses .expenses-header {
    font-weight: bold;
    padding: 0;
}

.expenses-data {
    font-size: 0.8em;
    padding: 1em 0;
}
.expenses-data p {
    flex: 1;
    text-align: center;
}

.expenses div {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media (max-width: 768px) {
    .admin-overview {
        display: flex;
        flex-direction: column;
        min-width: 25em;
    }
}

/* -------------------------------------- CLIENTS */
.clients-container * {
    margin: 0;
}
.clients-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.selector {
    height: 2.25rem;
    display: flex;
    gap: 1rem;
    padding: 0 1.5rem;
    border-radius: 5rem;
    box-shadow: var(--card-element-shadow);
    color: var(--button-text-color);
    width: max-content;
}

.selector-element {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-color-1);
    font-size: var(--button-fontsize);
    font-weight: 500;
}

.selector-element.active {
    color: var(--green-color);
}

.button-divider {
    width: 3px;
    position: relative;
}

.button-divider::before,
.button-divider::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
}

.button-divider::before {
    left: 0;
    background-color: rgba(195, 201, 205, 1);
}

.button-divider::after {
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

.view-button {
    transition: color 0.3s ease;
}

.view-button.active {
    color: var(--green-color);
}

.search {
    display: flex;
    gap: 3rem;
    align-items: center;
    border-radius: 2rem;
    box-shadow: 1px 1.5px 4px 0px rgba(0, 0, 0, 0.1) inset,
        1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset,
        0px -0.5px 1px 0px rgba(255, 255, 255, 0.25) inset,
        0px -0.5px 1px 0px rgba(255, 255, 255, 0.3) inset;
    background: var(--search-background-color);
    padding: 0.5rem 1rem;
    color: var(--light-background-color);
}
.search input {
    border: none;
    width: 200px;
    background: inherit;
}
.search input::placeholder {
    color: inherit;
    font-size: var(--content-text-fontsize);
}

.clients-list {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    flex-wrap: wrap;
}
.clients-list.list {
    flex-direction: column;
}

.client {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 1.5rem;
    background: var(--card-background-color);
    box-shadow: var(--card-element-shadow2);
    padding: 1em;
    border-radius: 0.5rem;
    width: 250px;
}

.client.list {
    justify-content: space-between;
}

.client-title,
.client-data,
.client-data div {
    display: flex;
}

.client-title {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.client-name {
    font-size: var(--title-fontsize);
    font-weight: 500;
    color: var(--dark-text-color);
}

.client-status {
    color: var(--green-color);
    border: 1px solid var(--green-color);
    border-radius: 0.25rem;
    padding: 0.1rem 0.5rem;
    font-size: var(--small-text-fontsize);
}

.client-data {
    flex-direction: column;
    font-size: var(--small-text-fontsize);
    color: var(--gray1-text-color);
    gap: 0.3rem;
    /* border: 1px solid red; */
}
.client-data div p {
    flex: 1;
    text-align: left;
    /* border: 1px solid red; */
    overflow: hidden;
}

.client-info {
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.5em;
    margin-top: 1em;
}
/* --------------------------------------------- TEAM */
.trainers-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.trainers-list {
    display: flex;
    /* justify-content: space-between; */
    gap: 1.5em;
    flex-wrap: wrap;
}
.trainers-list.list {
    flex-direction: column;
}

.trainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    border-radius: var(--small-element-br);
    box-shadow: var(--card-element-shadow);
    background: var(--card-background-color);
    color: var(--gray1-text-color);
}

.trainer.list {
    display: flex;
    justify-content: space-between;
}

.trainer-overview {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 1.5rem;
}

.results-section {
    padding: var(--big-element-padding);
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    border-radius: var(--big-element-br);
    background: var(--account-background);
    box-shadow: var(--card-element-shadow);
}

.trainings-section,
.history-section {
    position: relative;
    display: flex;
    padding: var(--big-element-padding);
    padding-top: 3rem;
    border-radius: var(--big-element-br);
    background: var(--account-background);
    box-shadow: var(--card-element-shadow);
    color: var(--gray1-text-color);
}

.result-el {
    display: flex;
    gap: 0.75rem;
    align-items: center;
    font-size: var(--metrics-fontsize);
}
.result-el span {
    font-size: var(--title-fontsize);
    font-weight: 500;
}

.trainings-section {
    grid-column: 1/2;
    flex-direction: column;
    gap: 1.5rem;
}

.trainings-section-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.training-element {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.check-icon {
    color: var(--green-color);
}

.training-card {
    flex: 1;
    background: var(--card-background-color);
    box-shadow: var(--card-element-shadow);
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: var(--element-br);
}
.training-card div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.visitors {
    font-size: var(--small-text-fontsize);
    line-height: 150%;
}

.gray-status {
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-text-fontsize);
    border: 1px solid var(--gray-color-3);
    padding: 0.3rem 0.5rem;
    border-radius: 0.25rem;
}

.history-section {
    grid-column: 2/3;
    flex-direction: column;
    gap: 1.5rem;
}

/* ----------------------------------------CLIENT */
.abonements,
.client-overview {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.align-right {
    align-self: flex-end;
}

.abonements-title {
    display: flex;
    justify-content: space-between;
}

.abonement {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background: var(--account-background);
    box-shadow: var(--card-element-shadow);
    border-radius: var(--element-br);
    padding: 0 2rem 2rem;
}

.gen-abonement-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    min-width: max-content;
    /* background: rgba(130, 130, 130, 0.2); */
    /* padding: 0 1rem 1rem; */
    /* border-radius: 1em; */
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--border-color4);
}
.abonement-info-main,
.abonement-info-from-to {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.history-element {
    background: var(--card-background-color);
    box-shadow: var(--card-element-shadow);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 125px;
    padding: 0.8rem;
    /* border: 1px solid rgba(255, 255, 255, 0.25); */
    border-radius: var(--element-br);
}
.history-element div {
    display: flex;
    gap: 0.75rem;
    font-size: var(--small-text-fontsize);
}
.history-element div :first-child {
    flex: 0.5;
}
.history-element div :last-child {
    font-weight: 600;
    color: var(--green-color);
}
.history-element div p {
    flex: 1;
}

/* Abonement Styles */
.abonement-container {
    border-radius: var(--big-element-br);
    box-shadow: var(--card-element-shadow);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 200px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: var(--account-background);
    padding-bottom: 1rem;
}

.amount-info {
    display: flex;
    gap: 0.5rem;
    font-size: 1.25rem;
    align-items: center;
}

.amount-badge {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--green-color);
    color: white;
    border-radius: 1rem 0 1rem 0;
    width: 60px;
}

.price-info {
    align-self: center;
    text-align: center;
}

/* Button Styles */
.purchase-button {
    font-size: var(--smaller-title-fontsize);
    font-weight: 500;
    background-color: var(--account-background);
    color: var(--gray1-text-color);
    padding: 0.75rem 4rem;
    border: 2px solid var(--account-background);
    border-radius: var(--big-element-br);
    align-self: center;
    box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.2),
        0px 0px 5px 0px rgba(255, 255, 255, 0.4), 2px 2px 4px 0px #fff inset,
        -2px -2px 4px 0px rgba(0, 0, 0, 0.1) inset;
}

/* -----------------------------------SETTINGS */

.settings {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.settings h1 {
    font-size: 1.1rem;
    font-weight: bold;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.personal-info {
    border-radius: 1em;
    /* background: rgba(130, 130, 130, 0.1); */
    box-shadow: var(--card-element-shadow);
    display: flex;
    flex-direction: column;
}

.personal-info-el {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color-8);
}

.personal-info :last-child {
    border: none;
}

.personal-info-el div {
    display: flex;
    gap: 1em;
}
