/* All account styles */

.account-section {
    max-width: 70rem;
    min-width: min-content;
    min-height: 40rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 12rem 1fr;
    border-radius: var(--big-element-br);
    background: var(--account-background);
    backdrop-filter: blur(60px);
}

.account-menu {
    background: var(--account-menu-background);
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 1rem 0 0 1rem;
}

.account-menu a {
    border-radius: 2em;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    text-align: left;
    transition: all 0.2s ease-in-out;
    font-size: var(--account-menu-fontsize);
    line-height: 1;
}

.account-menu a:hover {
    background: var(--selected-tab-background);
}

.account-content {
    border-radius: 0 1rem 1rem 0;
    padding: 2rem;
    position: relative;
}

@media (max-width: 450px) {
    .account-section {
        grid-template-columns: 1fr;
        grid-template-rows: max-content;
    }

    .account-content {
        padding: 3rem 1rem;
    }

    .account-menu {
        border-radius: 1rem 1rem 0 0;
        padding: 1.5rem 1rem;
        flex-direction: row;
        overflow-x: scroll;
    }
}

/* ----------------------------------------------------OVERVIEW */

.admin-overview {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    gap: 1.5rem;
}
@media (max-width: 768px) {
    .admin-overview {
        display: flex;
        flex-direction: column;
        /* align-items: normal; */
    }
}

.sales {
    position: relative;
    grid-row: 1 / span 2;
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: var(--big-element-padding);
    padding-top: 2.5rem;
    /* max-width: 400px; */
    max-height: 600px; /*for overflow*/
}

.sale-list {
    padding: 0.3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    overflow-y: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none; /* Hide scrollbar for IE and Edge */
    scrollbar-width: none; /* Hide scrollbar for Firefox */
}
.sale-list::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

.sale-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding: 1rem 0.5rem;
}

.sale-data div {
    display: flex;
    align-items: center;
    justify-content: center;
}
.sale-data :first-child {
    padding-left: 0.5rem;
    justify-content: left;
}

/* --------------------------------------- */
.inout {
    position: relative;
    grid-column: 2/3;
    padding: var(--big-element-padding);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.inout-el {
    text-align: center;
    border-bottom: 1px solid var(--gray-color-6);
}

/* -------------------------------------- CLIENTS */

.selector {
    display: flex;
    gap: 1rem;
    padding: 0 1.5rem;
    border-radius: 5rem;
    box-shadow: var(--card-element-shadow);
    color: var(--button-text-color);
    width: max-content;
}

.selector-element {
    padding: 0.3rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    color: var(--gray-color-1);
    font-size: var(--s-fontsize);
    font-weight: 500;
}

.selector-element.active {
    color: var(--green-color);
}

.button-divider {
    width: 3px;
    position: relative;
}

.button-divider::before,
.button-divider::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
}

.button-divider::before {
    left: 0;
    background-color: rgba(195, 201, 205, 1);
}

.button-divider::after {
    right: 0;
    background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 768px) {
    .f-container {
        flex-direction: column;
    }
    .selector {
        gap: 0.75rem;
        padding: 0 1.25rem;
    }
    .selector-element {
        font-size: var(--xs-fontsize);
    }
}

.view-button {
    transition: color 0.3s ease;
}

.view-button.active {
    color: var(--green-color);
}

.persons {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}
.persons.list {
    flex-direction: column;
}

.person {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    min-width: 250px;
}

.person.list {
    /* justify-content: space-between; */
}

.client-title,
.person-data,
.person-data div {
    display: flex;
}

.client-title {
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.person-data {
    flex-direction: column;
    gap: 0.3rem;
}
.person-data p {
    flex: 1;
    text-align: left;
}
/* --------------------------------------------- TEAM */

.trainer-overview {
    display: grid;
    grid-template-columns: 0.75fr 1fr;
    gap: 1.5rem;
}
@media (max-width: 768px) {
    .trainer-overview {
        display: flex;
        flex-direction: column;
        /* align-items: normal; */
    }

    .results-section {
        flex-direction: column;
    }
}

.results-section {
    padding: var(--big-element-padding);
    padding-top: 2.5rem;
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: relative;
}

.trainings-section,
.history-section {
    position: relative;
    display: flex;
    padding: var(--big-element-padding);
    padding-top: 3rem;
}

.result-el {
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.trainings-section {
    grid-column: 1/2;
    flex-direction: column;
    gap: 1.5rem;
}

.trainings-section-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.training-element {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.check-icon {
    color: var(--green-color);
}

.training-card {
    flex: 1;
    display: flex;
    justify-content: space-between;
    gap: 1.5rem;
    padding: 1rem;
}
.training-card div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.history-section {
    grid-column: 2/3;
    flex-direction: column;
    gap: 1.5rem;
}

/* ----------------------------------------CLIENT */

.abonement {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2rem;
    position: relative;
}

.gen-abonement-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--gray-color-7);
}

.history {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.history-element {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    min-width: 125px;
    padding: 0.8rem;
}
.history-element div {
    display: flex;
    gap: 0.75rem;
    font-size: var(--xs-fontsize);
}
.history-element div :first-child {
    flex: 0.5;
}
.history-element div :last-child {
    font-weight: 600;
    color: var(--green-color);
}
.history-element div p {
    flex: 1;
}

/* Purchases Styles */
.abonement-container {
    border-radius: var(--big-element-br);
    box-shadow: var(--card-element-shadow);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 185px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: var(--account-background);
    padding-bottom: 1rem;
}

.amount-info {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.amount-badge {
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--green-color);
    color: white;
    border-radius: 1rem 0 1rem 0;
    width: 60px;
}

/* Button Styles */
.button-group {
    display: flex;
    gap: 3rem;
}

.increment-button,
.decrement-button {
    font-weight: 500;
    width: 3rem;
    height: 3rem;
    color: var(--gray-color-2);
    border: 2px solid var(--account-background);
    border-radius: 2rem;
    box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.2),
        -5px -5px 5px 0px rgba(255, 255, 255, 0.4), 2px 2px 4px 0px #fff inset,
        -2px -2px 4px 0px rgba(0, 0, 0, 0.1) inset;
    transition: box-shadow 0.3s ease;
}

.purchase-button {
    font-size: var(--title-fontsize);
    font-weight: 500;
    background-color: var(--account-background);
    color: var(--green-color);
    padding: 0.75rem 4rem;
    border: 2px solid var(--account-background);
    border-radius: var(--big-element-br);
    align-self: center;
    box-shadow: 5px 5px 10px 0px rgba(174, 174, 192, 0.2),
        -5px -5px 5px 0px rgba(255, 255, 255, 0.4), 2px 2px 4px 0px #fff inset,
        -2px -2px 4px 0px rgba(0, 0, 0, 0.1) inset;
    transition: box-shadow 0.3s ease;
}

.purchase-button:active,
.increment-button:active,
.decrement-button:active {
    box-shadow: inset 5px 5px 4px 0px rgba(174, 174, 192, 0.2),
        inset -5px -5px 4px 0px rgba(255, 255, 255, 0.3);
}

/* -----CAROUSEL */
.carousel {
    position: relative;
}

.carousel-items {
    display: flex;
    overflow: hidden;
}

.carousel-item {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
}

.carousel-item.active {
    transform: translateX(0);
}

.carousel-item:not(.active) {
    transform: translateX(100%);
}

.prev,
.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}

/* -----------------------------------SETTINGS */

.settings {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.settings h1 {
    font-size: 1.1rem;
    font-weight: bold;
}

.profile {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.personal-info {
    border-radius: 1em;
    /* background: rgba(130, 130, 130, 0.1); */
    box-shadow: var(--card-element-shadow);
    display: flex;
    flex-direction: column;
}

.personal-info-el {
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--gray-color-8);
}

.personal-info :last-child {
    border: none;
}

.personal-info-el div {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}
.personal-info-el div :nth-child(2) {
    min-width: 5em;
    text-align: left;
}
.personal-info-el div :nth-child(3) {
    color: var(--green-color);
}
