.admin-section {
    max-width: 60em;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 12em 1fr;
    /* border: 1px solid rgba(255, 255, 255, 0.4); */
    /* background: rgba(128, 128, 128, 0.3); */
    border-radius: 1em;
    /* box-shadow: 1px 0.5px 2px 0px rgba(255, 255, 255, 0.25) inset,
        -1px 0px 2px 0px rgba(255, 255, 255, 0.25) inset; */
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 0px 2px 0.5px rgba(255, 255, 255, 0.6) inset; */
    backdrop-filter: blur(60px);
}

.admin-menu {
    padding: 2em;
    display: flex;
    flex-direction: column;
    gap: 1em;
    /* background-color: antiquewhite; */
    border-radius: 1em 0 0 1em;
}

.admin-menu a {
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}
.admin-menu a:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.admin-section-content {
    background: rgba(128, 128, 128, 0.3);
    border-radius: 0 1em 1em 0;
    padding: 1em;
}
