.home-section {
    display: flex;
    flex-direction: column;
    gap: 6em;
    padding: 0 2em;
}
.intensity-hero {
    text-align: center;
}
.intensity-hero h1 {
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6em;
    font-weight: 800;
}

.home-section h2 {
    text-align: center;
    font-size: 60px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.015em;
    margin-bottom: 0.5em;
}
.home-section h3 {
    font-size: 20px;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.015em;
    margin-bottom: 0.5em;
}
.intensity-hero,
.home-subsection {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(250, 250, 250, 0.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 2em;
    display: flex;
    flex-direction: column;
}
.intensity-hero p,
.home-subsection p {
    font-size: 24px;
    line-height: 1.3334133333;
    font-weight: 600;
    letter-spacing: 0.009em;
    color: #86868b;
}

.home-values {
    margin-top: 1em;
    display: flex;
    gap: 2em;
    flex-wrap: wrap;
}
.home-values div {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: rgba(250, 250, 250, 0.1);
    backdrop-filter: blur(10px);
    padding: 1em;
    flex: 1;
    min-width: 250px;
}
/* --------------------------------------------- */
