.home-section {
    height: 85vh;
    text-align: center;
    /* background: no-repeat center fixed;
    background-size: cover;
    background-image: linear-gradient(rgb(0, 255, 166), rgb(166, 255, 0)); */
    padding: 1em;
}

.intensity-hero {
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background: rgba(250, 250, 250, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding: 2em;
    display: flex;
    flex-direction: column;
}

/* .home-section p {
    align-self: self-start;
    font-size: 1.5em;
    font-weight: 600;
} */
.home-section h1 {
    background: -webkit-linear-gradient(45deg, #09009f, #00ff95 80%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6em;
    font-weight: 800;
    align-self: flex-start;
}
.intensity-hero div {
    align-self: self-end;
    width: 40%;
    margin-top: 2em;
    font-size: 3em;
    font-weight: 800;
}
.intensity-hero div button {
    font-size: 0.75em;
    background-color: rgba(3, 178, 3, 0.428);

    border-radius: 2em;
    padding: 0.5em 0.75em;
}

.home-section h3 {
    font-size: 2em;
    font-weight: 800;
    align-self: flex-start;
}
