.overview {
    display: grid;
    gap: 1em;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10% 1fr 1fr;
}

.overview * {
    margin: 0;
}

.user,
.income,
.expenses,
.sales {
    border-radius: 0.5em;
    padding: 1em;
    gap: 1em;
}

.admin-user {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-column: 1 / 3;
    grid-row: 1/2;
}
.user-img {
    width: 3em;
    border-radius: 50%;
}
.user div {
    padding-right: 1em;
    border-right: 1px solid grey;
}
.user div span {
    font-size: 0.75em;
    color: grey;
}
.user-date {
    background-color: rgb(240, 240, 240);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.sales {
    grid-row: 2 / span 2;
    grid-column: 1 / 2;
}
.sales div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}
.sales .title {
    font-weight: 700;
}
.sales div select {
    border: none;
    text-decoration: underline;
    font-size: 0.9em;
    font-weight: 600;
    color: rgb(223, 164, 2);
}
.sales .metrics p {
    font-size: 0.75em;
    color: grey;
}
.metrics {
    padding-bottom: 0.75em;
    border-bottom: 1px solid rgb(238, 235, 235);
}
.sale-data {
    padding-bottom: 1em;
    border-bottom: 1px solid rgb(235, 235, 235);
}
.sale-name {
    font-weight: 500;
    width: 30%;
}
.sale-data .sale-abonement {
    width: 5%;
    background-color: rgb(221, 230, 173);
    border-radius: 0.5em;
    padding: 0.25em;
    text-align: center;
}

.income {
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.income div {
    display: flex;
    gap: 2em;
    align-items: center;
    box-shadow: 0 0 5px rgb(54, 100, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.expenses {
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.expenses div {
    padding: 1em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow: 0 0 5px red;
}
.expenses .t-salary {
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
