.schedule-container {
    display: flex;
    gap: 1em;
    max-width: 60rem;
    margin: 0 auto;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .schedule-container {
        max-width: 30rem;
        flex-direction: column;
        align-items: normal;
    }
}

.calendar {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 22em;
    margin-top: 2em;
    background: rgba(250, 250, 250, 0.25);
    border-radius: 1em;
    backdrop-filter: blur(70px);
}

.calendar-navbar {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-navbar-date {
    font-weight: 600; /* Equivalent to font-semibold */
    color: #1a202c; /* Equivalent to text-gray-900 */
}

.calendar-navbar-button {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    color: rgba(0, 0, 0, 0.25); /* Equivalent to text-gray-400 */
}

.calendar-navbar-button:hover {
    color: #4a5568; /* Equivalent to hover:text-gray-500 */
}

#view {
    background: transparent;
    margin-left: 3rem;
}

.week-days-names {
    display: grid; /* Equivalent to grid */
    grid-template-columns: repeat(
        7,
        minmax(0, 1fr)
    ); /* Equivalent to grid-cols-7 */
    font-size: 0.75rem; /* Equivalent to text-xs */
    line-height: 1.5; /* Equivalent to leading-6 */
    text-align: center; /* Equivalent to text-center */
    color: rgba(255, 255, 255, 0.75);
    padding: 1em;
}

.calendar-body {
    display: grid; /* Equivalent to grid */
    grid-template-columns: repeat(
        7,
        minmax(0, 1fr)
    ); /* Equivalent to grid-cols-7 */
    font-size: 0.875rem; /* Equivalent to text-sm */
    padding: 1em; /* ---------------*/
}

.trainings-section {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* border: 1px solid red; */
    flex: 1;
}

.trainings-list {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 0.5em;
    font-size: 0.875rem; /* Equivalent to text-sm */
    color: #718096; /* Equivalent to text-gray-500 */
    /* border: 1px solid blue; */
}
