.scheduled-training {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 10px; /* Equivalent to rounded-xl */
    background: rgba(255, 255, 255, 0.7);
    /* backdrop-filter: blur(70px); */
    /* min-width: 20em; */
    /* border: 1px solid green; */
}

.scheduled-training-content {
    display: flex; /* Equivalent to flex */
    justify-content: space-between;
    border-radius: 10px;
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease; /* Smooth transition for hover and focus effects */
}

/* @media screen and (min-width: 790px) and (max-width: 800px) {
    .scheduled-training {
        min-width: 100%; 
    }

    .scheduled-training-content {
        flex-direction: row;
    }
} */

.scheduled-training-content:hover,
.scheduled-training-content:focus-within {
    background: rgba(151, 151, 151, 0.2);
}
