.overview {
  @include page-grid;

  &__header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  &__body {
    grid-column: 1 / -1;
  }
}
