.popup {
  position: relative;
  background: $color-black-dark;
  border-radius: $standard-br;
  padding: 1.5rem;
  width: 90%;

  &__button {
    padding: 0.75rem 2rem;
    border-radius: $big-br;
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
    transition: box-shadow 0.3s ease;

    &:hover {
      background-color: rgba(190, 24, 93, 0.644);
    }

    &:active {
      box-shadow:
        inset 5px 5px 4px 0px rgba(174, 174, 192, 0.2),
        inset -5px -5px 4px 0px rgba(255, 255, 255, 0.3);
    }
  }

  &__close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    background-color: $color-red;
    border-radius: 0 $standard-br;
    color: white;
  }
}

.popup-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light-green;
  backdrop-filter: blur(5px);
}
