.modal {
  z-index: 1;
  // position: absolute;
  background-color: rgba(0, 0, 0, 0.25);
  // top: 2rem;
  // left: 0;
  // right: 0;
  border-radius: 1rem;
  box-shadow: $shadow3;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
  max-width: max-content;
  margin-inline: auto;

  &__close-button {
    background-color: $color-red;
    border-radius: 0 1rem;
    color: white;
    width: 3rem;
    height: 3rem;
  }
}

.modal-container {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $color-light-green;
  backdrop-filter: blur(5px);
}
