.switch-container {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__button {
    width: 3rem;
    height: 1.5rem;
    border-radius: 1rem;
    background-color: $gray-color-3;
    position: relative;
    transition: background-color 0.3s ease;

    &--active {
      background-color: $color-green;
    }
  }

  &__slider {
    width: 1.5rem;
    height: 1.5rem;
    background-color: $color-white;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    transition: left 0.3s ease;

    .switch-container__button.switch-container__button--active & {
      left: calc(100% - 1.5rem);
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-green;
  }
}
