/* Navbar.css */
.Navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
}

.Navbar-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Navbar-item {
    font-size: 16px;
    color: white;
}

/* Responsive styles for tablets and mobile phones */
@media (max-width: 768px) {
    .Navbar {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Navbar-list {
        flex-direction: column;
        align-items: center;
    }

    .Navbar-item {
        margin: 10px 0;
    }
}
