.form-wrapper {
    margin: 2em auto;
    width: 350px;
}

.auth-form {
    display: flex;
    gap: 1em;
    flex-direction: column;
    padding: 2em;
    border-bottom: 1px solid rgba(130, 130, 130, 0.15);
}

.auth-form h1 {
    font-size: 1.5em;
    text-align: center;
}

.auth-form input {
    padding: 0.75em;
    border-radius: 0.5em;
    width: 100%;
    border: 1px solid var(--gray-color-7);
    background: var(--green-color2);
}

.auth-form button {
    padding: 0.5em;
    background-color: var(--green-color3);
    color: rgba(255, 255, 255, 1);
    border-radius: 0.5rem;
}

.auth-form button:hover {
    background-color: var(--green-color);
}

.signup-subsection {
    padding: 1em;
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    align-items: baseline;
}
.signup-subsection div {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.role-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
