.client-info {
    background-color: rgb(236, 255, 236);
    display: flex;
    flex-direction: column;
    gap: 1em;
    border-radius: 0.5em;
    padding: 1em;
    margin-top: 1em;
}
.client-abonement-info {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: space-between;
    border-bottom: 1px solid green;
}

.client-info p {
    font-size: 0.8em;
}
.client-info span {
    margin-left: 0.5em;
    border: 1px solid rgb(220, 220, 220);
    color: rgb(2, 170, 2);
    padding: 0.25em 0.5em;
    border-radius: 0.5em;
}

.client-info .freeze-option {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: none;
}
/* ---------------freeze button */
.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    width: 35px;
    border-radius: 1em;
    box-shadow: 0 0 2px rgb(180, 180, 180);
    padding: 0.1em;
}

input[type='checkbox'] {
    display: none;
}

.slider {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s;
}

input:checked + .toggle-button {
    justify-content: end;
    background-color: rgb(101, 170, 255);
}

/* ------------------------- */
.client-history {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    align-items: flex-start;
}

.client-history-element {
    width: 120px;
    height: 115px;
    border: 1px solid green;
    box-shadow: 0 0 2px green;
    padding: 0.5em;
    border-radius: 0.5em;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.client-history-element p {
    margin: 0;
}

.client-history span {
    font-weight: 600;
    color: black;
    border: none;
    margin: 0;
    padding: 0;
}

.deducted {
    border: 1px solid red;
    box-shadow: 0 0 2px red;
}
.deduction-reason {
    color: red;
}
