.clients-container * {
    margin: 0;
}
.clients-container {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-info {
    display: flex;
    gap: 1em;
    font-weight: 600;
    border-radius: 1em;
}

.header-info .active-clients {
    color: green;
}

.view-modes {
    border-radius: 1em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.view-modes .view-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: color 0.3s ease;
}

.view-modes .view-button.active {
    font-weight: bold;
}

.search {
    display: flex;
    gap: 0.5em;
    align-items: center;
    border-radius: 1em;
}
.search input {
    border: none;
    width: 200px;
}

.clients-list {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
}
.clients-list.list {
    flex-direction: column;
}

.client {
    background: rgba(130, 130, 130, 0.2);
    padding: 1em;
    border-radius: 1em;
}

.client.list {
    display: flex;
    justify-content: space-between;
}

.client-name {
    font-size: 18px;
    font-weight: bold;
}

.client-details {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

.client-history h4 {
    margin-top: 15px;
}

.client-history ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.client-history li {
    margin-top: 5px;
    font-size: 14px;
    color: #555;
}
