.trainer-container * {
    margin: 0;
}
.trainers-container {
    font-family: Arial, sans-serif;
    background-color: #fbe2b8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    padding: 1em;
}

.header-info {
    display: flex;
    gap: 1em;
    font-weight: 600;
    color: rgb(90, 90, 90);
    background-color: white;
    border-radius: 1em;
    padding: 1em;
}

.view-modes {
    background-color: white;
    border-radius: 1em;
    padding: 0.5em;
    display: flex;
    align-items: center;
    gap: 1em;
}
.view-modes .view-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #555;
    transition: color 0.3s ease;
}

.view-modes .view-button.active {
    color: #007bff;
    font-weight: bold;
}

.search {
    display: flex;
    gap: 0.5em;
    align-items: center;
    background-color: white;
    border-radius: 1em;
    padding: 0.5em 1em;
}
.search input {
    padding: 0.5em;
    border: none;
    width: 200px;
    font-weight: 600;
}

.trainers-list {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
    padding: 0.5em;
}
.trainers-list.list {
    flex-direction: column;
}

.trainer {
    background-color: #fff;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 0.5em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.trainer.list {
    display: flex;
    justify-content: space-between;
}

.trainer-name {
    font-size: 18px;
    font-weight: bold;
}
