.logo {
  font-weight: bold;
  padding: 0.8rem 1rem;
  display: flex;
  font-size: 1.1rem;
  text-transform: uppercase;

  @include on-desktop {
    padding: 1.125rem 1.5rem;
  }

  &__image {
    height: 22px;
    width: 64px;

    @include on-desktop {
      height: 28px;
      width: 80px;
    }
  }
}
