.trainer-overview {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  &__salary-section,
  &__trainings-section {
    padding: 1.25rem;
    border-radius: $standard-br;
  }

  &__title {
    margin-bottom: 1rem;
  }

  &__result {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__label {
    font-size: 0.9rem;
  }

  &__value {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__trainings-list {
    display: flex;
    // flex-wrap: wrap;
    flex-direction: column;
    gap: 1rem;
  }
}

.training {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid $color-green;
  border-bottom: 1px solid $color-green;

  &__time {
    font-size: 1rem;
  }

  &__check-icon {
    min-width: 24px;
    height: 24px;
  }

  &__card {
    padding: 15px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__type {
    font-weight: bold;
    font-size: 1.1rem;
  }

  &__status {
    font-size: 0.8rem;
    color: #888;
  }

  &__visitors {
    display: flex;
    flex-direction: column;
    min-width: max-content;

    & > span {
      display: flex;
      padding-block: 0.25rem;
      color: rgb(255, 235, 51);
      text-transform: capitalize;
      font-size: 0.75rem;
      border-bottom: 1px dotted $color-green;
    }
    // & :first-child {
    //   border-top: 1px dotted $color-green;
    // }
    & :last-child {
      // border-top: 1px dotted $color-green;
      border-bottom: none;
    }
  }
}
