.dashboard {
  &__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
  }

  &__section {
    margin-bottom: 3rem;
  }

  &__subtitle {
    margin-bottom: 1rem;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1.5rem;
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
  }

  &__stat {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    background: $card-background;
    box-shadow: $shadow3;
    border-radius: $big-br;
    border: 1px solid $card-background;
    text-align: center;

    p {
      line-height: 1.25;
      font-size: 0.8rem;
      font-weight: 500;
      color: $gray-color-3;
      flex: 1;
      padding: 0.75rem;
    }

    span {
      flex: 1;
      font-weight: 600;
      line-height: 1;
      height: 100%;
      border-left: 1px solid $color-light-green;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $color-green;

      & input {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: $big-br;
        background: none;
        font-size: 1rem;
        font-weight: 600;
        color: $color-green;
        text-align: center;
      }
    }
  }

  &__list {
    list-style: none;

    &-item {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      padding: 0.75rem 1rem;
      border-bottom: 1px solid $color-light-green;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }
}

.statistics {
  &__title {
    font-size: 1.25rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__section {
    position: relative;
    background: $card-background;
    border-radius: $big-br;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 3rem 1rem 1rem;

    &-title {
      font-size: 1.125rem;
      width: 15rem;
      color: $color-green !important;
    }

    &-content {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;
    }
  }

  &__item {
    grid-column: span 1;
    display: flex;
    flex-direction: column;
    min-width: 125px;
    background: $card-background;
    border-radius: $big-br;
    text-align: center;

    &-title {
      font-size: 0.8rem;
      font-weight: 500;
      color: $gray-color-3;
      border-bottom: 1px dotted $color-green;
      padding: 0.75rem;
    }

    &-value {
      font-size: 1.1rem;
      font-weight: 600;
      color: $color-green;
      padding: 0.75rem;
    }
  }

  &__subitem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;

    &-element {
      box-shadow: 0 0 4px rgba(255, 255, 255, 0.25);
      border-radius: $standard-br;
      padding: 0.5rem 1.5rem;
      flex: 1;
      display: flex;
      gap: 0.5rem;
      align-items: center;
      min-width: 125px;
    }
  }
}
