.footer {
  position: relative;
  background-color: $account-background;
  padding: 32px 0;
  box-shadow: 0 -1px 0 0 $card-background;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 0.875rem;

    @include on-tablet {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__logo {
    width: min-content;
    height: auto;
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }

  &__title {
    font-size: 1.25rem;
  }

  &__nav-list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    @include on-tablet {
      gap: 1.5rem;
    }
  }

  &__nav-item {
    display: flex;

    & .nav__link {
      &::before {
        display: none;
      }
    }

    & :hover {
      color: $color-green;
    }
  }

  &__button {
    position: absolute;
    top: 2rem;
    right: 1.35rem;
    padding: 0.3rem;
    border: 1px solid $color-icons;
    border-radius: 50%;
    display: flex;
    background-color: $color-light-green;
    color: $color-secondary;
    cursor: pointer;

    @include hover(color, $color-hoverBG);

    &-icon {
      width: 25px;
      height: 25px;
    }
  }

  &__socials {
    display: flex;
    gap: 16px;
  }

  &__social-icon {
    fill: $color-white;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 40px;
    // // color: white;
    // height: 30px;
    & :hover {
      fill: $color-green;
    }
  }
}
