.hero {
  width: 100%;

  &__title {
    padding-block: 1.5rem;
    text-align: center;

    @include on-tablet {
      padding-block: 2rem;
    }

    @include on-desktop {
      padding-block: 3.5rem;
    }

    &--accent {
      background: -webkit-linear-gradient(45deg, #09009f, #00ff95 50%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }
  }
}
