.user-overview {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.user,
.abonements,
.abonements-title {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    box-shadow: 0 0 5px black;
    border-radius: 0.5em;
    padding: 1em;
}

.user-img {
    width: 3em;
    border-radius: 50%;
}

.user-role {
    font-size: 0.75em;
    color: grey;
}
.user-date {
    background-color: rgb(240, 240, 240);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

.abonements {
    flex-direction: column;
}
.abonements .title {
    font-weight: 700;
}
.abonements div select {
    border: none;
    text-decoration: underline;
    font-size: 0.9em;
    background: transparent;
    color: rgb(223, 164, 2);
    cursor: pointer;
}
/* Toggler */
.toggler {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 5px gray;
    border-radius: 0.5em;
}

.abonement {
    display: flex;
    flex-direction: column;
    border: 1px solid green;
    border-radius: 0.5em;
    padding: 0.5em;
}

.abonement .gen-abonement-info {
    display: flex;
    gap: 1em;
    flex-direction: column;
}

.gen-abonement-info div {
    padding: 0;
}

.gen-abonement-info .left-training {
    font-size: 2.5em;
    font-weight: 900;
    padding: 0.1em 0.75em;
}

.gen-abonement-info span {
    margin-left: 0.25em;
    padding: 0.25em;
    border: 1px solid gray;
    color: gray;
    border-radius: 0.25em;
}

.gen-abonement-info .active {
    border: 1px solid green;
    color: green;
}

.gen-abonement-info .expired {
    border: 1px solid red;
    color: red;
}

.abonement-training-history {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding: 1em;
}

.abonement-training-history-element {
    flex: 1;
    min-width: 165px;
    /* max-width: 300px; */
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    box-shadow: 0 0 5px gray;
}
