.schedule-container {
    display: flex;
    gap: 2rem;
    max-width: 60rem;
    margin: 0 auto;
    align-items: flex-start;
}

@media (max-width: 768px) {
    .schedule-container {
        max-width: 30rem;
        flex-direction: column;
        align-items: normal;
    }
}

.calendar {
    padding: 1rem 0;
    flex: 1.25;
    display: flex;
    flex-direction: column;
    /* min-width: 20rem; */
}

.calendar .calendar-navbar {
    padding: 14px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.calendar-navbar-date {
    font-weight: 600; /* Equivalent to font-semibold */
}

.calendar-navbar-button {
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

.calendar-navbar-button:hover {
    color: #4a5568; /* Equivalent to hover:text-gray-500 */
}

#view {
    background: transparent;
    margin-left: 3rem;
}

.week-days-names {
    display: grid; /* Equivalent to grid */
    grid-template-columns: repeat(
        7,
        minmax(0, 1fr)
    ); /* Equivalent to grid-cols-7 */
    font-size: 0.75rem; /* Equivalent to text-xs */
    line-height: 1.5; /* Equivalent to leading-6 */
    text-align: center; /* Equivalent to text-center */
    padding: 1em;
}

.calendar-body {
    display: grid; /* Equivalent to grid */
    grid-template-columns: repeat(
        7,
        minmax(0, 1fr)
    ); /* Equivalent to grid-cols-7 */
    font-size: 0.875rem; /* Equivalent to text-sm */
    padding: 1em; /* ---------------*/
}

.trainings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* border: 1px solid red; */
    flex: 1;
}

.trainings h3 {
    width: 100%;
    border-radius: var(--element-br);
    font-weight: 700;
    text-align: center;
    border: 1px solid var(--gray-color-7);
    padding: 0.5rem;
}

.trainings-list {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: 1rem;
    font-size: 0.875rem; /* Equivalent to text-sm */
    /* border: 1px solid blue; */
}

.scheduled-training {
    box-shadow: var(--card-element-shadow3);
    border-radius: 10px; /* Equivalent to rounded-xl */
    background: rgba(255, 255, 255, 0.1);
}

.scheduled-training-content {
    position: relative;
    border-radius: var(--element-br);
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease; /* Smooth transition for hover and focus effects */
}

/* @media screen and (min-width: 790px) and (max-width: 800px) {
    .scheduled-training {
        min-width: 100%; 
    }

    .scheduled-training-content {
        flex-direction: row;
    }
} */

.scheduled-training-content:hover,
.scheduled-training-content:focus-within {
    background: var(--green-color2);
}
