.training-button {
  color: white;
  border-radius: $big-br;
  width: 100px;
  padding: 0.25rem 1rem;

  &--disabled {
    background: $gray-color-4;
    cursor: not-allowed;
  }
  &--cancel {
    background: $color-red;
  }
  &--reserve {
    background: $color-green;
  }
}
