.search {
  display: flex;
  gap: 1rem;
  border-radius: 2rem;
  background: $gray-color-4;
  box-shadow:
    1px 1.5px 4px 0px rgba(0, 0, 0, 0.1) inset,
    1px 1.5px 4px 0px rgba(0, 0, 0, 0.08) inset,
    0px -0.5px 1px 0px rgba(255, 255, 255, 0.25) inset,
    0px -0.5px 1px 0px rgba(255, 255, 255, 0.3) inset;

  &__icon {
    color: white;
    margin: 0.5rem 0.75rem;
  }

  &__input {
    border: none;
    min-width: 200px;
    background: transparent;
    outline: none;

    &::placeholder {
      color: white;
    }
  }
}
