@use "tailwindcss/base";
@use "tailwindcss/components";
@use "tailwindcss/utilities";

@use "base/reset";
@use "base/typography";

@use "abstracts/variables";
@use "abstracts/mixins";
@use "abstracts/functions";
@use "abstracts/placeholders";

// Shared component styles
@use "components/buttons";
@use "components/icons";
@use "components/cards";

:root {
  --root-font-size: 16px;
}

html {
  font-size: var(--root-font-size);
  background-color: variables.$color-black-dark;
}

body {
  background-color: variables.$color-black-dark;
  // overscroll-behavior: none;
}

/* Apply the background color to the #root element */
#root {
  background-color: variables.$color-black-dark;
  min-height: 100%;
}

/* Optional: Apply a background color to the body::before pseudo-element to ensure that the background color is applied even during overscroll. */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: variables.$color-black-dark;
  z-index: -1;
}

main {
  overflow: hidden;
  padding-block: 4.5rem 3rem;
  display: flex;
  flex-direction: column;
  gap: 56px;
  margin-bottom: auto;

  @include mixins.on-tablet {
    gap: 64px;
  }

  @include mixins.on-desktop {
    gap: 80px;
  }
}

// .status {
//   color: $color-green;
//   border: 1px solid $color-green;
//   border-radius: $big-br;
//   padding: 0 1rem;

//   &--green {
//     border: 1px solid $color-green;
//     color: $color-green;
//   }
//   &--red {
//     border: 1px solid $color-red;
//     color: $color-red;
//   }

//   &--gray {
//     border: 1px solid $gray-color-3;
//     color: $gray-color-3;
//   }
// }

.status-absolute {
  position: absolute;
  top: 0;
  // right: 0;
  line-height: 1;
  // background: rgb(255, 111, 171);
  background: white;
  padding: 0.5rem 1.25rem;
  min-width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(160, 0, 77);
  color: variables.$color-red;
  border-radius: 0 variables.$big-br;

  &--green {
    right: auto;
    left: 0;
    border-radius: variables.$big-br 0;
    background: variables.$color-green;
    color: variables.$color-white;
  }

  &--red {
    right: auto;
    left: 0;
    border-radius: variables.$big-br 0;
    background: variables.$color-red;
    color: variables.$color-white;
  }

  &--gray {
    right: auto;
    left: 0;
    border-radius: variables.$big-br 0;
    background: variables.$gray-color-3;
    color: variables.$color-white;
  }

  &--void {
    margin-top: 0.25rem;
    margin-right: 0.25rem;
    padding: 0.25rem 0.5rem;
    background: transparent;
    border: 1px solid variables.$color-red;
    border-radius: variables.$big-br;

    &-green {
      right: auto;
      left: 0;
      margin-left: 0.25rem;
      border: 1px solid variables.$color-green;
      color: variables.$color-green;
    }
    &-red {
      right: auto;
      left: 0;
      margin-left: 0.25rem;
      border: 1px solid variables.$color-red;
      color: variables.$color-red;
    }

    &-gray {
      right: auto;
      left: 0;
      margin-left: 0.25rem;
      border: 1px solid variables.$gray-color-3;
      color: variables.$gray-color-3;
    }
  }
}

.status {
  line-height: 1;
  // background: rgb(255, 111, 171);
  background: white;
  padding: 0.5rem 1.25rem;
  min-width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(160, 0, 77);
  color: variables.$color-red;

  &--right-border {
    color: variables.$color-red;
    border-radius: 0 variables.$big-br;
  }

  &--left-border {
    color: variables.$color-red;
    border-radius: variables.$big-br 0;
  }

  &--green {
    background: variables.$color-green;
    color: variables.$color-white;
  }

  &--red {
    background: variables.$color-red;
    color: variables.$color-white;
  }

  &--gray {
    background: variables.$gray-color-3;
    color: variables.$color-white;
  }

  &--void {
    padding: 0.25rem 0.5rem;
    background: transparent;
    border: 1px solid variables.$color-red;
    border-radius: variables.$big-br;

    &-green {
      border: 1px solid variables.$color-green;
      color: variables.$color-green;
    }
    &-red {
      border: 1px solid variables.$color-red;
      color: variables.$color-red;
    }

    &-gray {
      border: 1px solid variables.$gray-color-3;
      color: variables.$gray-color-3;
    }
  }
}

.action-button {
  background-color: variables.$gray-color-10;
  color: variables.$color-green;
  padding: 0.75rem 2rem;
  border: 1px solid variables.$gray-color-10;
  border-radius: variables.$big-br;
  box-shadow:
    5px 5px 10px 0px rgba(174, 174, 192, 0.2),
    /* -5px -5px 5px 0px rgba(255, 255, 255, 0.4), 2px 2px 4px 0px #fff inset, */ -2px -2px
      4px 0px rgba(0, 0, 0, 0.1) inset;
  transition: box-shadow 0.3s ease;

  &:hover {
    background-color: var(--primary-hover-color);
  }

  &:active {
    box-shadow:
      inset 5px 5px 4px 0px rgba(174, 174, 192, 0.2),
      inset -5px -5px 4px 0px rgba(255, 255, 255, 0.3);
  }
}

.container {
  @include mixins.content-padding-inline;
}

.accent-label-primary {
  background: variables.$color-green;
  color: #fff;
  border: 1px solid variables.$color-green;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0.1rem 1rem;
}

.card-element {
  background: variables.$card-background;
  min-width: 250px;
  box-shadow: variables.$shadow3;
  border-radius: variables.$big-br;
  border: 1px solid variables.$card-background;
}

.small-card-element {
  background: variables.$card-background;
  box-shadow: variables.$shadow3;
  border-radius: variables.$big-br;
  border: 1px solid variables.$card-background;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.dark {
  background-color: variables.$color-black-dark;
  color: variables.$color-white;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  background: variables.$color-red;
  border: 3px solid variables.$color-black-dark;
  color: variables.$color-white;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.75rem;
  right: -0.5rem;
}

.people-counter {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
  background: variables.$color-red;
  border: 3px solid variables.$color-black-dark;
  color: variables.$color-white;
  border-radius: variables.$big-br;
  width: 4rem;
  height: 1.8rem;
  font-size: 0.8rem;
  position: absolute;
  top: -0.8rem;
  right: -0.5rem;
}
