.prices {
  &__card {
    background: $card-background;
    box-shadow: $shadow3;
    border-radius: $big-br;
    border: 1px solid $card-background;
  }

  &__metrics {
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    border-bottom: 1px solid $color-element;
    padding-block: 0.25rem;
    color: $gray-color-3;
  }

  &__metric {
    flex: 1;
    text-align: center;
    font-size: 0.8rem;
    min-width: max-content;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__element {
    flex: 1;
    text-align: center;
    font-size: 0.8rem;
  }
}
