.prices {
  &__metrics {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid $color-element;
    padding-block: 0.25rem;
  }

  &__metric {
    flex: 1;
    text-align: center;
    font-size: 0.9rem;
  }

  &__items {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__item {
    display: flex;
    justify-content: space-between;
  }

  &__element {
    flex: 1;
    text-align: center;
    font-size: 0.8rem;
  }
}
