:root {
    --light-background-color: rgba(255, 255, 255, 1);
    --dark-background-color: rgb(18, 18, 18);
    --light-text-color: rgba(0, 0, 0, 0.8);
    --gray1-text-color: rgba(96, 96, 96, 1);
    --dark-text-color: rgba(255, 255, 255, 0.8);
    --account-background: rgba(242, 242, 247, 1);
    --account-menu-background: rgba(230, 230, 240, 0.75);
    --selected-tab-background: rgba(255, 255, 255, 0.5);
    --green-element: rgba(0, 169, 145, 1);
    --red-element: rgba(255, 89, 97, 1);
    --title-color: rgb(255, 255, 255, 1);
    --button-text-color: rgba(103, 114, 120, 1);
    --border-color4: rgba(199, 199, 204, 1);
    --search-color: rgba(216, 216, 222, 1);
    --card-color: rgba(240, 240, 243, 1);

    --card-element-shadow: 5px 5px 20px 0px rgba(174, 174, 192, 0.5);
    --card-element-shadow2: 5.781px 5.781px 23.125px 0px
            rgba(174, 174, 192, 0.5),
        -5.781px -5.781px 23.125px 0px #fff;

    --green-element-br: 0 0 0.75em 0.75em;
    --element-br: 1rem;
    --small-element-br: 0.5em;

    --navbar-fontsize: 20px;
    --account-menu-fontsize: 20px;
    --title-fontsize: 20px;
    --metrics-fontsize: 12px;
    --content-text-fontsize: 13px;
    --small-text-fontsize: 11px;
}

.App * {
    box-sizing: border-box;
}

.App {
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
    font-family: 'Roboto', sans-serif;
    transition: background-color 0.5s ease;
}

.App a {
    font-size: 1.1rem;
}

.App.light {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
}

.App.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

.App h1 {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.App h2 {
    text-align: center;
    font-size: 2rem;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.015em;
}

.App h3 {
    font-size: 1.5rem;
    line-height: 1.05;
    font-weight: 700;
    letter-spacing: -0.015em;
}

/* .App p {
    font-size: 1rem;
    line-height: 1.3334133333;

    letter-spacing: 0.01em;

} */

@media (max-width: 768px) {
    .App h1 {
        font-size: 2rem;
    }
    .App h2 {
        font-size: 1.5rem;
    }
}

/* a {
    color: rgb(255, 255, 255, 0.25);
}

a:hover {
    color: rgb(255, 255, 255, 0.5);
} */

/* ------------------------------------THEME BUTTON */

.switch-container {
    display: flex;
    align-items: center;
}

.switch-label {
    margin-right: 10px;
}

.switch-button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.switch-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    margin: 1px; /* Adjust as needed */
    transition: transform 0.3s ease;
}

.switch-button.active .switch-slider {
    transform: translateX(20px);
    background-color: #121212;
}

/* ---------------freeze button */

.freeze-option {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: none;
}
.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    width: 35px;
    border-radius: 1em;
    box-shadow: 0 0 2px rgb(180, 180, 180);
    padding: 0.1em;
}

#freeze {
    display: none;
}

.slider {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#freeze:checked + .toggle-button {
    justify-content: end;
    background-color: rgb(101, 170, 255);
}
