.App {
    /* font-family: 'Inter', sans-serif; */
    /* font-family: 'Manrope', sans-serif; */
    /* font-family: 'Roboto', sans-serif; */
    transition: background-color 0.5s ease;
}

.App.light {
    background-color: rgba(255, 255, 255, 1);
    color: #000000;
}
/* .App.light a {
    color: #000000;
} */

.App.dark {
    background-color: #121212;
    color: rgba(255, 255, 255, 0.8);
}
/* .App.dark a {
    color: rgba(255, 255, 255, 0.6);
} */

/* a {
    color: rgb(255, 255, 255, 0.25);
}

a:hover {
    color: rgb(255, 255, 255, 0.5);
} */

/* ------------------------------------THEME BUTTON */

.switch-container {
    display: flex;
    align-items: center;
}

.switch-label {
    margin-right: 10px;
}

.switch-button {
    display: flex;
    align-items: center;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    cursor: pointer;
}

.switch-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    margin: 1px; /* Adjust as needed */
    transition: transform 0.3s ease;
}

.switch-button.active .switch-slider {
    transform: translateX(20px);
    background-color: #121212;
}

/* ----------------------------------- */

/* ---------------freeze button */

.freeze-option {
    display: flex;
    align-items: center;
    gap: 0.5em;
    border: none;
}
.toggle-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: rgb(170, 170, 170);
    width: 35px;
    border-radius: 1em;
    box-shadow: 0 0 2px rgb(180, 180, 180);
    padding: 0.1em;
}

#freeze {
    display: none;
}

.slider {
    width: 15px;
    height: 15px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: background-color 0.3s;
}

#freeze:checked + .toggle-button {
    justify-content: end;
    background-color: rgb(101, 170, 255);
}
