$mobile-width: 320px;
$tablet-width: 640px;
$desktop-width: 1200px;
$border-radius: 8px;
$color-background: #fafbfc;
$color-accent: #216cff;
$color-secondary-accent: #f447af;
$color-primary: #0f0f11;
$color-secondary: #89939a;
$color-icons: #b4bdc3;
$color-element: #e2e6e9;
$color-hoverBG: #fafbfc;
$color-white: #fff;
$color-green: rgba(0, 169, 145, 1);
$color-red: rgba(255, 89, 97, 1);
$color-category-phones: #6d6474;
$color-category-tablets: #8d8d92;
$color-category-accessories: #973d5f;
$color-border-img: #c4c4c4;
$color-secondary-dark: #75767f;
$color-icons-dark: #4a4d58;
$color-element-dark: #3b3e4a;
$color-surface-1-dark: #161827;
$color-surface-2-dark: #323542;
$color-black-dark: #0f1121;
$color-white-dark: #f1f2f9;
$color-accent-dark: #905bff;
$duration: 0.3s;

$account-background: rgba(242, 242, 247, 1);
$card-background: rgba(250, 250, 250, 0.1);
$shadow3: 0 0 5px rgba(0, 0, 0, 0.1);

$big-br: 1rem;
$standard-br: 0.5rem;
