.info-section {
  &__header {
    margin-bottom: 1rem;
    text-align: center;
  }

  &__list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    flex: 1;
    padding: 1rem;
    position: relative;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__element {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
  }

  &__text {
    font-size: 0.875rem;
    line-height: 1.3rem;
    font-weight: 500;
    color: $gray-color-3;
  }
}
