.reservation-btn {
  position: relative;
  color: white;
  border-radius: $big-br;
  min-width: 100px;
  height: 30px;
  // padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s ease;

  &:disabled {
    cursor: not-allowed;
  }

  &--disabled {
    background: $gray-color-4;
    cursor: not-allowed;
  }
  &--cancel {
    background: $color-red;
  }
  &--reserve {
    background: $color-green;
  }

  &--loading {
    cursor: not-allowed;
    background: $color-element;
  }

  &__spinner {
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-top: 3px solid $color-green;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 0.8s linear infinite;
    position: absolute;
  }

  // Spinner animation
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
