.dark {
  background-color: $color-black-dark;
  color: $color-white;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  // &.dark {
  //   background-color: $color-black-dark;
  //   color: $color-white;

  //   // @import "./styles/theme/dark";
  // }
}

main {
  overflow: hidden;
  margin-block: 50px;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include on-tablet {
    gap: 64px;
  }

  @include on-desktop {
    gap: 80px;
  }

  margin-bottom: auto;
}

.container {
  @include content-padding-inline;
}

.card-element {
  background: $card-background;
  min-width: 250px;
  box-shadow: $shadow3;
  border-radius: $big-br;
  border: 1px solid $card-background;
  backdrop-filter: blur(70px);
}

.accent-label-primary {
  background: $color-green;
  color: #fff;
  border: 1px solid $color-green;
  // border-radius: 0 0.25rem 0.25rem 0;
  border-radius: 0 0 0.25rem 0.25rem;
  padding: 0.1rem 1rem;
  // font-size: var(--n-fontsize);
  // letter-spacing: .05rem;
  // align-self: self-start;
}
