.blog-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 1em 1em 1em 8em;
    padding: 1em;
}

.blog-form div {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.blog-form input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 250px;
}

.blog-form button[type='submit'] {
    padding: 10px 20px;
    background-color: #844caf;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.blog-form button[type='submit']:hover {
    background-color: #5a45a0;
}
