.blogs {
    width: 100%;
    padding: 20px;
    background-color: #f6f6f6;
    border-radius: 0 0 1em 1em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.blog-item {
    margin: 10px 0;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-link {
    text-decoration: none;
    color: #304c62;
    font-size: 18px;
    transition: color 0.2s;
}

.blog-link:hover {
    color: #000000;
}
