.menu {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    color: #333;
    font-family: Arial, sans-serif;
    border-radius: 1em 1em 0 0;
    margin-bottom: 1em;
}

.menu-links {
    margin: 1em;
    display: flex;
    align-items: baseline;
}

.menu-link {
    text-decoration: none;
    color: #555;
    margin: 0 8px;
    transition: color 0.3s;
    padding: 0.25em 1em;
    border-radius: 0.25em;
}

.menu-link:hover {
    color: #000000;
    box-shadow: 0 8px 8px -4px rgba(0, 0, 0, 0.1);
}

.user-info {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.user-info span {
    margin-right: 8px;
    font-style: italic;
    color: #777;
}

.logout-button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

.logout-button:hover {
    background-color: #c82333;
}

.app-title {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: #333;
    display: block; /* Make the title appear on a new line */
}
