.users,
.users-titles,
.user-list,
.user-item {
    display: flex;
    box-sizing: border-box;
}

.users,
.user-list {
    flex-direction: column;
    gap: 1em;
}

.users,
.user-item {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.users-titles,
.user-item {
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

.users-titles *,
.blogs-count {
    margin: 0;
}

.users {
    width: 100%;
    border-radius: 1em;
    padding: 2em;
}

.user-item {
    border-radius: 0.5em;
}
