.contacts {
  @include page-grid;

  row-gap: 8px;

  &__header {
    grid-column: 1 / -1;
  }

  &__list {
    grid-column: 1 / -1;
    @include page-grid;
  }

  &__element {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    width: 100%;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 6;
    }

    @include on-desktop {
      grid-column: span 12;
    }
  }

  &__category {
    position: absolute;
    // left: 0;
    top: 0;
    // align-self: flex-start;
  }

  &__items {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  &__item {
    display: flex;
    gap: 1rem;
    font-size: 0.8rem;
  }

  &__icon {
    min-width: 20px;
    height: 20px;
    color: $color-icons;
  }
}
